$secondry-color:#26343D;

.main-signup{
    display: block;
    // flex-direction: row;
    // justify-content: center;
    height: 100vh;
    width: 100%;
        .top{
            float: right;
            padding-right: 2rem;
            font-size: small;
            #Links-signin{
                text-decoration: none;
                font-style: small;
                margin-left: .3rem;
                cursor: pointer;
                color: gray;
                &:hover{
                    color:aqua;
                }
            }
        }
        .content-body{
            position: absolute;
            top: 7%;
            height: 100%;
            width:100%;
            .signup-section{
                height: 80%;
                width: 50%;
                margin:2rem auto;
                padding-top:1rem;
                box-shadow: 0rem 0rem 0.5rem 0.1rem #48ea98;
                border-radius: 0.5rem;
                .input-group{
                    width: 100%;
                    position: relative;
                        h5{
                            font-size: small;
                            font-weight: 300;
                            color:gray;
                            position: absolute;
                            left:20%;
                            top:0;
                            margin:0.5rem auto;
                            background: rgb(249, 250, 250);


                        }
                        input{
                            background: rgb(249, 250, 250);
                            margin:1.2rem auto;
                            width:60%;
                            border:none;
                            padding:0.5rem 0.5rem;
                            box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
                           
                            &:focus{
                                outline: none;
                               
                            }
                        }
                    }  
                    
                }
                #subtn{
                    width:63%;
                    background:$secondry-color ;
                    color: white;
                    cursor: pointer;
                    border: none;
                    padding:0.5rem 2.5rem;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                    box-shadow: 0.5rem 0.5rem 1rem 0.1rem gray;
                }
            }
        }    

}