@import "../breakpoint.scss";

$main-color: #00BFFF;

.mainHeader {
    @include media('<=4KScreens'){
        font-size: 60px !important; 
        padding: 20px;
    }
    @include media('<=LGdesktop'){
        font-size: 40px !important;
    }
    @include media('<=desktop'){
        font-size: 30px !important;
    }
    @include media ('<=530px') {
        font-size: 25px !important;
        padding: 20px;
    }
    @include media ('<=415px') {
        font-size: 20px !important;
        margin-top: 15px;
        padding: 20px;
    }
}
.weatherHead {
    height: 12vh;
    width: 70%;
    background: linear-gradient(to right bottom, $main-color, rgba(236,236,236,0.4));
    border-radius: 5px;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('<=tablet') {
        height: 10vh;
        width: 95%;
    }
    @include media ('<=530px') {
        min-height: 25vh;
    }
    @include media ('<=phone') {
        min-height: 30vh;
        
    }
    .mainHeader {
        @include media ('>phone', '<=530px') {
            font-size: 40px;
            margin: 0px;
            padding-top: 20px;
        }
        @include media ('<=phone') {
            font-size: 35px;
            margin: 0px;
            padding-top: 25px;
        }
       
    }
    

    form {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('<=4KScreens') {
            width: 95%;
        }
        @include media('<=LGdesktop'){
            width: 95%;
        }
        @include media('<=tablet') {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 90%;
        }
        @include media ('<=530px') {
            flex-direction: column;
            padding: 20px;
            
        }
        @include media ('<=phone') {
            margin-top: 20px;
        }
        select{
            height: auto;
            width: 30%;
            margin-right: 10px;
            padding: 0.2rem 1rem;
            color: #4B4B4B;
            border-radius: 5px;
            background: white;
            border: none;
            font-size: 20px !important;
            font-weight: 300;
            //transition: all 0.1s ease-in-out;
            &:focus{
                outline: none;
                border: none;
            }
            &:hover{
                transform: scale(1.009);
                box-shadow: 0px 0px 3px 0px #212529;
            }
            @include media('<=4KScreens') {
                height: 5vh;
                width: 35%;
                margin-right: 20px;
                font-size: 20px;
            }
            @include media('<=LGdesktop'){
                height: 5vh;
                width: 40%;
            }
            @include media('<=tablet') {
                width: 40%;
                height: auto;
                padding: 0.4rem 1rem;
            }  
            @include media ('>phone', '<=530px'){
                display: block;
                margin: 10px auto 0 auto;
                width: 85%;
            }
            @include media ('<=400px') {
                display: block;
                margin: 10px auto 0 auto;
                width: 90%;
            }  
            @include media ('<=phone') {
                display: block;
                margin: 10px auto 0 auto;
                width: 90%;
            }      
        }
        #subsearch {
            width: 10vw;
            height: 4vh;
            color: white;
            background: #127abb;
            border-radius: 5px;
            border: none;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
            padding:0.5rem 1rem;
            transition: all 0.2s ease;
            &:hover{
                transform: scale(1.009);
                box-shadow: 0px 0px 3px 0px #212529;
            }
            @include media('<=4KScreens'){
                height: 5vh;
                font-size: 20px;
            }
            @include media('<=LGdesktop'){
                height: 5vh;
                font-size: 20px;
            }
            @include media('<=tablet') {
                width: 20%;
                height: auto;
            }
            @include media ('<=530px') {
                width: 25%;
                margin-top: 18px;
            }
            @include media ('<=phone') {
                width: 30%;
                padding-right: 80px;
            } 
        }
    }
    
    
}
.weatherData {
    @include media ('<=530px'){
        width: 92%;
    }
    @include media ('<=450px'){
        width: 95%;
    }
    @include media ('<=phone'){
        width: 90% !important;
        height: 60vh !important;
    }
    .loading{
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
        background-color: #3dc8f7;
        align-items: center;
    }
    .dataContainer {
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
        background-color: #3dc8f7;
        @include media ('<=1440px'){
        }
        @include media('<=tablet') {
            width: 80%;
            box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
            
        }
        @include media ('<=530px'){
            width: 85%;
            padding: 0%;
            background-color: white;
        }
        @include media ('<=450px'){
            width: 95%;
        }
        @include media ('<=phone'){
            width: 100%;
            height: 100%;
        }
        .dataInfo {
            @include media ('<=laptop'){
                width: 70%;
            }
            @include media ('>laptop'){
                width: 60%;
            }
            @include media ('>=laptopL', '<=4KScreens'){
                width: 60%;
            }
            @include media('<=tablet') {
                width: 90%;
            }
            @include media ('<=530px') {
                width: 100%;
                height: 100%;
            }
            @include media ('<=phone'){
                width: 100%;
                margin: 0 auto;
            }
            .headerText {
                font-size: 16px;
                padding-top: 20px;
                padding-bottom: 20px;
                @include media ('>=laptop', '<=4KScreens') {
                    width: 100%;
                    height: auto;
                    padding: 40px 0px;
                }
                @include media ('<=530px') {
                    font-size: 23px;
                }
                .topTxt1{
                    font-family: 'Roboto';
                    font-weight: 100;
                    color: rgb(65, 62, 62);
                    @include media ('>=laptopL'){
                        font-size: 30px;
                    }
                    @include media ('>=4KScreens'){
                        font-size: 40px;
                    }
                    @include media ('<=425px'){
                        font-size: 16px;
                    }
                    @include media ('<=375px'){
                        font-size: 14px;
                    }
                   
                }
                .topTxt2w{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-style: italic;
                    color: #4B4B4B;
                    font-size: 25px;
                    @include media ('>=laptopL'){
                        font-size: 50px;
                    }
                    @include media ('>=4KScreens'){
                        font-size: 60px;
                    }
                    @include media ('<=425px'){
                        font-size: 20px;
                    }
                    @include media ('<=375px'){
                        font-size: 16px;
                    }
                }
                .topTxt2{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    color: #4B4B4B;
                    font-size: 30px;
                    @include media ('>=laptopL'){
                        font-size: 50px;
                    }
                    @include media ('>=4KScreens'){
                        font-size: 60px;
                    }
                    @include media ('<=425px'){
                        font-size: 20px;
                    }
                    @include media ('<=375px'){
                        font-size: 16px;
                    }
                }
            }
            .tempSection{
                width: 90%;
                height: 30%;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -30px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding-top: 20px;
                padding-bottom: 20px;
                background: linear-gradient(120deg, #d9edf5 30%, #f0f0f0 38%, #f0f0f0 40%, #d9edf5 48%);
                background-size: 200% 100%;
                background-position: 100% 0;
                animation: load89234 2s infinite;
                @keyframes load89234 {
                    100% {
                    background-position: -100% 0;
                    }
                }
                @include media('<=tablet'){
                    width: 80%;
                    
                }
                @include media('<=490px'){
                    height: 25%;
                }
                @include media('<=425px'){
                    width: 90%;
                    height: 25%;
                }
                @include media ('<=375px'){
                    height: 20%;
                }
                @include media ('>=laptop'){
                    top: -40px;
                    width: 85%;
                    height: 25%;
                }
                @include media ('>=laptopL'){
                    top: -50px;
                }
                @include media ('>=4KScreens'){
                    top: -100px;
                }
                
            }
            .tempStyle{
                font-size: 12vw;
                font-family: 'Roboto';
                font-weight: 100;
                @include media('<=tablet'){
                    font-size: 20vw;
                }
                @include media('<=425px'){
                    font-size: 25vw;
                }
            }
            .degreeStyle{
                position: relative;
                left: -35px;
                top: -85px;
                @include media ('>=4KScreens'){
                    font-size: 2vw;
                    left: -105px;
                    top: -165px;
                }
                @include media ('>=laptopL'){
                    font-size: 2vw;
                    left: -70px;
                    top: -100px;
                }
                
                @include media ('>=laptop'){
                    left: -35px;
                    top: -70px;
                }
                @include media ('>=1200px'){
                    left: -45px;
                    top: -90px;
                }
                @include media ('<laptop'){
                    left: -35px;
                    top: -70px;
                }
                @include media('<=tablet'){
                    left: -45px;
                    top: -90px;
                }
                @include media('<=640px'){
                    left: -38px;
                    top: -75px;
                }
                @include media('<=570px'){
                    left: -35px;
                    top: -65px;
                }
                @include media('<=490px'){
                    left: -30px;
                    top: -55px;
                }
                @include media('<=425px'){
                    left: -30px;
                    top: -55px;
                }
                @include media('<=phone'){
                    left: -25px;
                    top: -50px;
                }
            }
            .logCond{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                top: 10px;
                right: 10px;
                .condition{
                    color: #4B4B4B;
                    @include media ('<laptop'){
                        position: relative;
                        right: 7px;
                    }
                    @include media ('<=tablet'){
                        position: relative;
                        right: 3px;
                    }
                    @include media('<=640px'){
                        right: 9px;
                    }
                    @include media('<=490px'){
                        right: 0px;
                    }
                    @include media ('<=460px'){
                        font-size: 16px;
                        right: -6px;
                    }
                    @include media ('<=420px'){
                        right: -4px;
                    }
                    @include media ('>=laptop'){
                        position: relative;
                        right: 7px;
                    }
                    @include media ('>=1200px'){
                        position: relative;
                        right: 4px;
                    }
                    @include media ('>=laptopL'){
                        position: relative;
                        right: 0px;
                    }
                    @include media ('>=4KScreens'){
                        font-size: 2vw;
                        position: relative;
                        right: 20px;
                    }
                    
                    
                }
                .icon{
                    @include media ('<=tablet'){
                        width: 8vw;
                    }
                    @include media('<=490px'){
                        position: relative;
                        right: -10px;
                        width: 10vw;
                    }
                    @include media('<=425px'){
                        width: 12vw;
                        position: relative;
                        right: -5px;
                    }
                    @include media('<=phone'){
                        right: -10px;
                    }
                }
                
            }
        }
        .descText {
            @include media ('>=laptopL'){
                top: -50px;
                font-size: 30px;
                padding: 0 30px;
            }
            @include media ('>=4KScreens'){
                top: -150px;
                font-size: 60px;
                padding: 0 60px;
            }
            
            
        }
        
    }
    
}